C : create
R : read
U : update
I : insert
D : delete

# Creates statement in SQL(relational database)/ create database

```sql
create table table_name(rollno,name)
```

In [1]:
import sqlite3

In [4]:
con=sqlite3.connect("lab2.db")

In [5]:
cur=con.cursor()

In [6]:
create_query='''
create table student(roll_no,name)
'''

In [8]:
cur.execute(create_query)

In [11]:
con.commit()

# insert statement in sql
INSERT INTO table_name(column1,column2,column3,...)
VALUES(value1,value2,value3,....),
(value11,value12,value13,...);

In [16]:
insert_query = """
insert into student(roll_no,name)
values
(1, "nishan"),
(2, "swapnil")
"""

In [17]:
cur.execute (insert_query)

# select statement in SQL/ Read operation

In [18]:
cur.execute("select * from student").fetchall()

[(1, 'nishan'), (2, 'swapnil')]

In [19]:
cur.execute("select name from student").fetchall()

[('nishan',), ('swapnil',)]

In [20]:
cur.execute("select roll_no from student").fetchall()

[(1,), (2,)]

In [21]:
cur.execute("select * from student where roll_no=2").fetchall()

[(2, 'swapnil')]

In [25]:
cur.execute("select * from student where name = 'nishan' ").fetchall()

[(1, 'nishan')]

# Update statement in sql

In [42]:
up="""
update student
set name='nishan luitel'
where roll_no=1

"""

In [43]:
cur.execute(up)

In [48]:
cur.execute ("Select * from student").fetchall()

[(1, 'nishan luitel'),
 (2, 'swapnil'),
 (3, 'poonam yadav'),
 (4, 'kusum basnet'),
 (5, 'pratik subedi')]

# Executemany

In [45]:
data=[
    (3,"poonam yadav"),
    (4,"kusum basnet"),
    (5,"pratik subedi")
]

In [46]:
cur.executemany("Insert into student(roll_no, name) values(?,?)",data)

In [47]:
cur.execute("Select * from student").fetchall()

[(1, 'nishan luitel'),
 (2, 'swapnil'),
 (3, 'poonam yadav'),
 (4, 'kusum basnet'),
 (5, 'pratik subedi')]

# Delete statement in sql

In [49]:
cur.execute(" delete from student where roll_no =5")

In [51]:
cur.execute("Select * from student").fetchall()

[(1, 'nishan luitel'),
 (2, 'swapnil'),
 (3, 'poonam yadav'),
 (4, 'kusum basnet')]