# membership operator

In [3]:
class2= ['pratik', 'abishek', 'punam','kusum', 'Abishek', 'nissan', 'swapnil']
"nissan" in class2

True

In [4]:
"nishan" in class2

False

In [5]:
"nishan" not in class2

True

In [6]:
name = "ni$han"
name[1]="s"                             #python strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
class2[5]

In [7]:
class2[5]="swaapnil"

In [ ]:
class2[5]     #python list are mutable

In [ ]:
class2= ['pratik', 'abishek', 'punam','kusum', 'Abishek', 'nissan', 'swapnil']

In [ ]:
class2[:2]=["Pratik", "Abishekkk"]
class2

# python list method
adding values in list

*insert

In [5]:
number = [44,22,11,566]
print(number)
number.insert(1,"class2")
print(number)

[44, 22, 11, 566]
[44, 'class2', 22, 11, 566]

append() method in python list

In [4]:
cars=['audi', 'bmw', 'mercedes']
cars.append('Tesla')
cars

['audi', 'bmw', 'mercedes', 'Tesla']

In [7]:
prime=[1,2,3,5,7,11]
for item in prime:
    square = item**2
square

121

In [9]:
prime=[1,2,3,5,7,11] 
number_squares=[]   #creates empty list
number_squares= list() #creates empty list
for item in prime:
    square = item**2
    number_squares.append(square)
number_squares

[1, 4, 9, 25, 49, 121]

In [10]:
prime=[1,2,3,5,7,11] 
number_squares=[]   #creates empty list
number_squares= list() #creates empty list
for item in prime:
    print(number_squares)
    square = item**2
    number_squares.append(square)
number_squares

[]
[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 25]
[1, 4, 9, 25, 49]

[1, 4, 9, 25, 49, 121]

In [14]:
list1 =['marker', 'board', 'flex']
list2 =['duster', 'pen', 'paper']
list1.extend(list2)
print(list1)
print(list2)

['marker', 'board', 'flex', 'duster', 'pen', 'paper']
['duster', 'pen', 'paper']

In [16]:
list1 =['marker', 'board', 'flex']
list2 =['duster', 'pen', 'paper']
list3 =list1+list2
list3

['marker', 'board', 'flex', 'duster', 'pen', 'paper']

In [17]:
list3.remove("marker")
list3

['board', 'flex', 'duster', 'pen', 'paper']

In [21]:
cars=['audi', 'bmw', 'mercedes','audi']

In [22]:
cars.remove('audi')
cars

['bmw', 'mercedes', 'audi']

# Python list as stack
LIFO Last in first out
item appended at last

In [25]:
cars=['audi', 'bmw', 'mercedes','audi','bmw']

In [26]:
cars.pop()

'bmw'

In [27]:
cars

['audi', 'bmw', 'mercedes', 'audi']

# pop using index

In [28]:
cars=['audi', 'bmw', 'mercedes','audi','bmw']

In [29]:
cars.pop(1)

'bmw'

In [30]:
cars

['audi', 'mercedes', 'audi', 'bmw']

# sorting in python

In [32]:
cars=['audi', 'bmw', 'mercedes','audi','bmw']

In [34]:
nums=[22,-1,0,33,-7]
nums.sort()
nums

[-7, -1, 0, 22, 33]

In [37]:
nums.sort(reverse= True)   #desending order
nums

[33, 22, 0, -1, -7]